<!--<input type="text" class="form-control" (input)="onUpdateServer($event)">-->
<input type="text" class="form-control" [(ngModel)]="serverName">
<p></p>
<p>{{serverName}}</p>
<button
  class="btn btn-primary"
  [disabled] = "!allowNewServer"
  (click) = "onCreateServer()">Add Server</button>
<!--<p> {{serverCreationStatus}} </p>-->
<p *ngIf="serverCreated">Server is created ! Name is {{ serverName }}</p>

<!--<p [innerText]="allowNewServer"> </p>-->
<hr>
<app-server *ngFor="let server of servers"></app-server>
